/* Add additional stylesheets below
-------------------------------------------------- */

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url("/assets/images/tableback.jpg");
    color: white;
}

a, a:hover {
    color: white;
}

h2, h3 {
    text-align: center;
    padding-bottom: 15px;
}

#inputBox {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}

.lobbyButton {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.panel-body {
    background: grey;
}

#gameDiv div {
    text-align: center;
    padding-bottom: 25px;
}

#gameHistoryDiv div {
    text-align: center;
    padding-bottom: 10px;
}

#winnerDiv {
    background-color: rgba(0,0,0,.5);
}

#currentPlayerName {
    color: yellow;
}