<#import "../layout/singleGameLobbyLayout.ftl.html" as layout>
<@layout.myLayout "Single Game Lobby">
<#include "../layout/headerUser.ftl.html"/>
    <var hidden="true" class="hostNameVar">${hostname}</var>
    <div class="container">
        <h2>Single Game Lobby</h2>

        <#if username == hostname>
            <form action="/start_game" method="get" class="lobbyButton">
                <button type="submit" class="btn btn-lg btn-primary btn-block" name="hostname" value=${hostname}>
                    Start game
                </button>
            </form>
        </#if>
        <#if username != hostname>
            <h3>
                Waiting for host to start game ...
            </h3>
        </#if>

        <#if players??>
            <#list players as player>

                <h4 <#if player == username>id="currentPlayerName"</#if>> > ${player}</h4>
            </#list>
        </#if>
    </div>
</@layout.myLayout>