<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/hand">Poker App!</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/logout">Logout <#if username??>${username}</#if></a></li>
				<li class="active"><a href="/lobby">Game Lobby</a></li>
				<li class="active"><a href="/hand">Hand Generator</a></li>
				<li class="active"><a href="/history">History</a></li>
			</ul>
		</div>
		<!--/.navbar-collapse -->
	</div>
</div>

<#if (flash.error)??>
	<div class="alert alert-danger">
		<span class="glyphicon glyphicon-remove"></span>
		&nbsp
		${flash.error}
	</div>
</#if>

<#if (flash.success)??>
	<div class="alert alert-success">
		<span class="glyphicon glyphicon-ok"></span>
		&nbsp
		${flash.success}
	</div>
</#if>