<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">
    <form action="/logout" method="get">
        <button type="submit" class="btn btn-primary">Log out</button>
    </form>
    <form action="/hand" method="get">
        <button type="submit" class="btn btn-primary">Generate Hands</button>
    </form>


    <#if gameViews??>
        <#assign x = 0>
        <div class="container">
        <div class="panel-group" id="accordion">
            <#list gameViews as game>
                <#assign x = x + 1>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse${x}">
                                Time: ${game.timestamp}
                            </a>
                        </h3>
                    </div>
                    <div class="panel-collapse collapse in" id="collapse${x}">
                        <div class="panel-body">
                        <#list game.handViews as hand>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <#if hand.isWinner>
                                    <h4>WINNER! ${hand.playerName} (${hand.handStrength})</h4>
                                <#else>
                                    <h4>${hand.playerName} (${hand.handStrength})</h4>
                                </#if>
                                <#list hand.cardURLs as cardURL>
                                    <img src=${cardURL} alt=${cardURL} width="40"></img>
                                </#list>
                            </div>
                        </#list>
                        </div>
                    </div>
                </div>
            </#list>
        </div>
        </div>
    </#if>

</@layout.myLayout>