<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "History">
<#include "../layout/headerUser.ftl.html"/>
    <h2 align="center">History</h2>
    <#if gameViews??>
        <#assign x = 0>
        <div class="container">
        <div class="panel-group" id="accordion">
            <#list gameViews as game>
                <#assign x = x + 1>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse${x}">
                                TIME: ${game.timestamp} &nbsp; &nbsp;
                                WINNERS: <#list game.namesOfWinners as w>${w} &nbsp; </#list>
                            </a>
                        </h3>
                    </div>
                    <div class="panel-collapse collapse" id="collapse${x}">
                        <div class="panel-body" id="gameHistoryDiv">
                        <#list game.handViews as hand>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" <#if hand.isWinner>id="winnerDiv"</#if>>
                                <h4><#if hand.isWinner>WINNER! &nbsp; </#if> ${hand.playerName}</h4>
                                <h5>(${hand.handStrength})</h5>
                                <#list hand.cardURLs as cardURL>
                                    <img src=${cardURL} alt=${cardURL} width="40"></img>
                                </#list>
                            </div>
                        </#list>
                        </div>
                    </div>
                </div>
            </#list>
        </div>
        </div>
    </#if>

</@layout.myLayout>