<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "Hand Generator">
<#include "../layout/headerUser.ftl.html"/>
    <div class="container" id="inputBox">
        <form class="form-signin" action="/generate_hands" method="post">
            <h2 class="form-signin-header">Hand Generator</h2>
            <h5 class="form-signin-header">Number of hands to generate:</h5>
            <#if lastNumOfGeneratedHands??>
                <input type="number" name="numHands" class="form-control" min="4" max="6"
                       value=${lastNumOfGeneratedHands} required>
            <#else>
                <input type="number" name="numHands" class="form-control" min="4" max="6"
                       value="4" required>
            </#if>
            <br>
            <button type="submit" class="btn btn-lg btn-primary btn-block">Generate Hands</button>
        </form>
    </div>

    <#if gameView??>
        <div class="row" id="gameDiv">
            <#list gameView.handViews as hand>
                <div class="col-xs-12 col-md-6" <#if hand.isWinner>id="winnerDiv"</#if> >
                    <h3><#if hand.isWinner>WINNER! &nbsp;</#if>${hand.playerName}</h3>
                    <h4>(${hand.handStrength})</h4>
                    <#list hand.cardURLs as cardURL>
                        <img src=${cardURL} alt=${cardURL}></img>
                    </#list>
                </div>
            </#list>
        </div>
    </#if>

</@layout.myLayout>